$main-color: #339DFF;
$btn-color:#339DFF;;
$bg-color:#EEEEF0;
$title-font-color:#06152B;
$font-color:#809FB8;
$font-color2: #244156;
$font-color3: #416782;
$placeholder-color:#809FB8;


$main-container: 1410px;
$input-box__btn_width: 24rem;

$header-mobile-height: 8.8rem;

$main-haader-mob-height: 6rem;
